<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">

<%- include('../includes/navigation.ejs')%>

<main>
    <%if(errorMessage && errorMessage.length > 0) {%>
    <div class="user-message user-message--error"><%=errorMessage%></div>
    <%}%>
    <%if(userId) {%>
    <form class="login-form" action="/update-password" method="POST">
        <div class="form-control">
            <label for="password">New Password</label>
            <input type="password" name="password" id="password" />
        </div>
        <div class="form-control">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword">
        </div>
        <input type="hidden" name="userId" value="<%=userId%>" />
        <input type="hidden" name="token" value="<%=resetToken%>" />
        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        <button class="btn" type="submit">Update Password</button>
    </form>
    <%}%>
</main>

<%- include('../includes/end.ejs') %>