<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/cart.css">

<%- include('../includes/navigation.ejs')%>

<main>
    <% if (items.length > 0) { %>
        <ul class="cart__item-list">
            <% items.forEach(item => { %>
                <li class="cart__item">
                    <h1><%= item.productId.title %></h1>
                    <h2>Quantity: <%= item.quantity %></h2>
                    <form action="/cart/<%=item.productId._id%>?_method=DELETE" method="POST">
                        <input type="hidden" value="<%= item.productId._id %>" name="productId">
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                        <button class="btn danger" type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
        <hr>
        <div class="centered">
            <!-- <form action="/orders" method="POST">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
                <button class="btn" type="submit">Order Now!</button>
            </form> -->
            <a class="btn" href="/checkout">Checkout</a>
        </div>
    <% } else { %>
        <h1>No Products in Cart!</h1>
    <% } %>
</main>


<%- include('../includes/end.ejs') %>